html
 head
  title Add Subject
  h2 Add Subject
 body
  form(action='/grade/#{id}' method='post') 
   | Subject Name:
   input(type='text' name='name')
   br
   br
   | MaxScore :
   input(type='number' name  ='maxScore')
   br
   br
   input(type='submit' value='submit')