doctype html
html
 head
  title subject summary update
  h1 edit subject summary
  link(rel='stylesheet', href='/stylesheets/style.css')  
  script(type='text/javascript' src='/javascripts/school_records_updation.js')
 body
